{% extends "layouts/base.html" %}

{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% block headscripts %}

{% endblock headscripts %}

<!-- Element injected in the BODY element layout-top-nav -->
{% block body_class %} sidebar-mini sidebar-collapse {% endblock body_class %}

<!-- CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/0b0bc30e16.js" crossorigin="anonymous"></script>

<!-- style -->
<link rel="stylesheet" href="/static/css/adminlte.min.css?v=3.2.0">
<link rel="stylesheet" href="/static/css/style.css?v=20">
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      
        <div class="container-fluid">
          <div class="error-page">
            <h2 class="headline text-danger">500</h2>
    
            <div class="error-content">
              <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>
    
              <p>
                We will work on fixing that right away.
                <a href="{{ url_for('home.index') }}">Return to home</a>.
              </p>              
            </div>
          </div>
            
        </div>
    </section>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<!-- AdminLTE -->
<script src="/static/js/adminlte.js"></script>

{% endblock javascripts %}
